<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test name="framework">
        <classes>
            <class name="cases.BrowserTest">
            </class> <!-- cases.BrowserTest -->
            <parameter name="browser" value="chrome"></parameter>
            <parameter name="url" value="https://www.baidu.com"></parameter>
        </classes>
    </test> <!-- framework -->
</suite>
